<div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row"><span class="mdl-layout-title">EasyHealth</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation"><a class="mdl-navigation__link" href="https://s.codepen.io/rishija/fullpage/GORNyy">About</a><a class="mdl-navigation__link" href="https://s.codepen.io/sidvishnoi/fullpage/EbxZVW">Test</a><a class="mdl-navigation__link" href="https://s.codepen.io/sidvishnoi/fullpage/XzWpXN/">Statistics</a><a class="mdl-navigation__link" href="">Contact us</a></nav>
    </div>
  </header>
  <div class="heading">Introduction</div>
  <div class="content"><p>EasyHealth is your new health partner. It is fast, technologically advanced, responsive, scalable and reliable  software which detects some of the major diseases with just in one eye scan. 
  The optimal image processing project involves modifying images obtained from retina scanner, 3M Cogent high speed dual iris scanner and comparing the generated report with a healthy eye image. The second part of it modifies characteristic parameters related to digital image obtained.</p></div>
  <div class="heading">Requirements</div>
  <div class="content"><p>What all EasyHealth requires is a retina and iris scanner or a good quality camera.</p></div>
  <div class="heading">Who all can use</div>
  <div class="content"><p>Opticians<br>Small dispensaries<br>UIDAI<br>NGOs</p></div>
</div>