input[type="file"] {
  display: none;
}
.report {
  padding: 1em;
}
.uploader.mdl-card {
  width: 100%;
}
.uploader > .mdl-card__title {
  color: #fff;
  background-position: center;
  background-size: cover;
}
.uploader > .mdl-card__menu {
  color: #fff;
}
#report {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#report.visible {
  opacity: 1;
}

.demo-layout-transparent header{
  background: url('https://fee.org/media/21173/retinascan.jpg?anchor=center&mode=crop&height=656&widthratio=2.1341463414634146341463414634&rnd=131333671850000000') center / cover;
  height: 230px;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}